flow-api.example.yaml
id: kangaroo_154430
namespace: skripsi.team
label:
  name: Social Pipe - ETL Pipeline

variables:
  X_BEARER_TOKEN: ""
  BSKY_IDENTIFIER: ""
  BSKY_PASSWORD: ""
  POSTGRES_USERNAME: ""
  POSTGRES_PASSWORD: ""
  POSTGRES_DB: ""
  POSTGRES_URL: ""
  POSTGRES_PORT: ""
  POSTGRES_HOST: ""

inputs:
  - id: search_topics
    itemType: STRING
    type: ARRAY
    defaults:
      [
        "harga bawang",
        "harga cabai",
        "harga beras",
        "harga sayur",
        "harga santan",
        "harga daging",
      ]

tasks:
  - id: parallel_extraction
    type: io.kestra.plugin.core.flow.Parallel
    tasks:
      - id: x_sequence
        type: io.kestra.plugin.core.flow.Sequential
        allowFailure: true
        tasks:
          - id: x_extract
            type: io.kestra.plugin.scripts.python.Commands
            allowFailure: true
            taskRunner:
              type: io.kestra.plugin.scripts.runner.docker.Docker
              networkMode: skripsi_default
            containerImage: python:3.13-slim
            inputFiles:
              xapi.py: "{{ read('xapi.py') }}"
              config.json: |
                {
                  "topics": {{ inputs.search_topics | json }},
                  "bearer_token": "{{ vars.X_BEARER_TOKEN }}",
                  "max_results": 50
                }
            commands:
              - python xapi.py
            outputFiles:
              - users.json
              - posts.json

      - id: bsky_sequence
        type: io.kestra.plugin.core.flow.Sequential
        allowFailure: true
        tasks:
          - id: get_token # Bearer token is required
            type: io.kestra.plugin.core.http.Request
            uri: https://bsky.social/xrpc/com.atproto.server.createSession
            method: POST
            contentType: application/json
            body: |
              {{ {
                "identifier" : vars.BSKY_IDENTIFIER,
                "password" : vars.BSKY_PASSWORD
              } }}

          - id: set_variable
            type: io.kestra.plugin.core.kv.Set
            key: accessJwt
            value: "{{outputs.get_token.body | jq('.accessJwt') | first }}"
            kvType: STRING

          - id: bsky_extract
            type: io.kestra.plugin.scripts.python.Commands
            allowFailure: true
            taskRunner:
              type: io.kestra.plugin.scripts.runner.docker.Docker
              networkMode: skripsi_default
            containerImage: python:3.13-slim
            inputFiles:
              bskyapi.py: "{{ read('bskyapi.py') }}"
              config.json: |
                {
                  "topics": {{ inputs.search_topics | json }},
                  "max_results": 100,
                  "bearer": "Bearer {{kv('accessJwt')}}"
                }
            commands:
              - python bskyapi.py
            outputFiles:
              - users.json
              - posts.json

      # Add here for more api sources

  - id: deduplication
    type: io.kestra.plugin.scripts.python.Commands
    containerImage: python:3.13-slim
    inputFiles:
      deduplication.py: "{{ read('deduplication.py') }}"
      users_x.json: "{{ outputs.x_extract.outputFiles['users.json'] | default('') }}"
      posts_x.json: "{{ outputs.x_extract.outputFiles['posts.json'] | default('') }}"
      users_bsky.json: "{{ outputs.bsky_extract.outputFiles['users.json'] | default('') }}"
      posts_bsky.json: "{{ outputs.bsky_extract.outputFiles['posts.json'] | default('') }}"
    commands:
      - python deduplication.py
    outputFiles:
      - unique_users.json
      - unique_posts.json

  - id: db_operation
    type: io.kestra.plugin.core.flow.Sequential
    tasks:
      - id: db_init
        type: io.kestra.plugin.jdbc.postgresql.Queries
        url: "{{ vars.POSTGRES_URL }}"
        username: "{{ vars.POSTGRES_USERNAME }}"
        password: "{{ vars.POSTGRES_PASSWORD }}"
        sql: |
          CREATE TABLE IF NOT EXISTS users (
            id BIGSERIAL,
            ext_id TEXT NOT NULL UNIQUE,
            username VARCHAR NOT NULL,
            display_name TEXT NOT NULL,
            platform TEXT NOT NULL,
            PRIMARY KEY (id, ext_id)
          );

          DO $$
          BEGIN
            IF NOT EXISTS (
              SELECT 1 FROM citus_tables WHERE table_name = 'users'::regclass
            ) THEN
              PERFORM create_distributed_table('users', 'ext_id');
            END IF;
          END $$;

          CREATE TABLE IF NOT EXISTS posts (
            id BIGSERIAL,
            title VARCHAR,
            body TEXT,
            posts_hash TEXT UNIQUE,
            user_id BIGINT NOT NULL,
            likes INTEGER,
            posted_at TIMESTAMP,
            PRIMARY KEY (id, posts_hash)
          );

          DO $$
          BEGIN
            IF NOT EXISTS (
              SELECT 1 FROM citus_tables WHERE table_name = 'posts'::regclass
            ) THEN
              PERFORM create_distributed_table('posts', 'posts_hash');
            END IF;
          END $$;

      - id: db_insert
        type: io.kestra.plugin.scripts.python.Commands
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
          networkMode: skripsi_default
        containerImage: python:3.13-slim
        inputFiles:
          unique_users.json: "{{ outputs.deduplication.outputFiles['unique_users.json'] }}"
          unique_posts.json: "{{ outputs.deduplication.outputFiles['unique_posts.json'] }}"
          db_insert.py: |
            import json
            import psycopg2

            conn = psycopg2.connect(
              host="{{ vars.POSTGRES_HOST }}",
              port="{{ vars.POSTGRES_PORT }}",
              dbname="{{ vars.POSTGRES_DB}}",
              user="{{ vars.POSTGRES_USERNAME }}",
              password="{{ vars.POSTGRES_PASSWORD }}"
            )
            cur = conn.cursor()

            with open("unique_users.json") as f:
              users = json.load(f)

            # Upsert users, return id mapped to ext_id
            ext_id_to_db_id = {}
            for u in users:
              cur.execute("""
                INSERT INTO users (ext_id, username, display_name, platform)
                VALUES (%s, %s, %s, %s)
                ON CONFLICT (ext_id) DO UPDATE
                  SET username = EXCLUDED.username,
                      display_name = EXCLUDED.display_name
                RETURNING id, ext_id
              """, (u["ext_id"], u["username"], u["display_name"], u["platform"]))
              row = cur.fetchone()
              ext_id_to_db_id[row[1]] = row[0]

            with open("unique_posts.json") as f:
              posts = json.load(f)

            # Resolve ext_user_id → users.id then insert posts
            for p in posts:
              user_id = ext_id_to_db_id.get(p["ext_user_id"])
              if not user_id:
                continue
              cur.execute("""
                INSERT INTO posts (body, posts_hash, user_id, likes, posted_at)
                VALUES (%s, %s, %s, %s, %s)
                ON CONFLICT (posts_hash) DO NOTHING
              """, (p["body"], p["posts_hash"], user_id, p["likes"], p["posted_at"]))

            conn.commit()
            cur.close()
            conn.close()
            print("Insert complete")
        beforeCommands:
          - pip install psycopg2-binary -q
        commands:
          - python db_insert.py

  - id: log_response
    type: io.kestra.plugin.core.log.Log
    message: |
      Process succeeded!

triggers:
  - id: webhook_trigger
    type: io.kestra.plugin.core.trigger.Webhook
    # the required key to start this flow - might be passed as a secret
    key:
    wait: true
