flow-agent.example.yaml
id: boar_944493
namespace: skripsi.team

variables:
  POSTGRES_USERNAME: ""
  POSTGRES_PASSWORD: ""
  POSTGRES_URL: ""
  PROVIDER_URL: ""

inputs:
  - id: question
    type: STRING
    defaults: "Dari data yang tersedia, informasi apa yang dapat ditentukan terkait harga berbagai komoditas?"

tasks:

  - id: fetch_data
    type: io.kestra.plugin.jdbc.postgresql.Query # or mysql / sqlserver
    url: "{{ vars.POSTGRES_URL }}"
    username: "{{ vars.POSTGRES_USERNAME }}"
    password: "{{ vars.POSTGRES_PASSWORD }}"
    sql: "SELECT * FROM posts WHERE posted_at > now() - interval '30 days'"
    fetch: true

  - id: chat
    type: io.kestra.plugin.ai.completion.ChatCompletion
    provider:
      type: io.kestra.plugin.ai.provider.Ollama
      modelName: llama3-finetuning:latest
      endpoint: "{{ vars.PROVIDER_URL }}"
    messages:
      - type: SYSTEM
        content: |
          You are a business data assistant. Answer questions based 
          on the following database records only.
          Data: {{ outputs.fetch_data.rows | tojson }}
      - type: USER
        content: "{{ inputs.question }}"
  
  - id: log_response
    type: io.kestra.plugin.core.log.Log
    message: |
      === AI Response ===
      Question: {{ inputs.question }}
      Answer: {{ outputs.chat.text }}

triggers:
  - id: webhook_trigger
    type: io.kestra.plugin.core.trigger.Webhook
    # the required key to start this flow - might be passed as a secret
    key: 
