flow-api.example.yaml
id: kangaroo_154430
namespace: skripsi.team
variables:
  X_BEARER_TOKEN: ""
  BSKY_IDENTIFIER: ""
  BSKY_PASSWORD: ""
  POSTGRES_USERNAME: ""
  POSTGRES_PASSWORD: ""
  POSTGRES_DB: ""
  POSTGRES_URL: ""
  POSTGRES_PORT: ""
  POSTGRES_HOST: ""

inputs:
  - id: search_topics
    itemType: STRING
    type: ARRAY
    defaults: ["harga bawang", "harga cabai", "harga beras"]

tasks:
  - id: parallel_extraction
    type: io.kestra.plugin.core.flow.Parallel
    tasks:
        - id: x_sequence
          type: io.kestra.plugin.core.flow.Sequential
          tasks:
            - id: x_foreach
              type: io.kestra.plugin.core.flow.ForEach
              values: "{{ inputs.search_topics }}"
              concurrencyLimit: 0
              tasks:
                - id: x_data
                  type: io.kestra.plugin.core.http.Request
                  uri: "https://api.x.com/2/tweets/search/recent?query={{ taskrun.value | urlencode }}&max_results=50&tweet.fields=public_metrics%2Ccreated_at&expansions=author_id"
                  method: GET
                  timeout: PT1M
                  retry:
                    type: exponential
                    interval: PT5S
                    maxInterval: PT60S
                    delayFactor: 2.0
                  headers:
                    Authorization: "Bearer {{ vars.X_BEARER_TOKEN }}"
                - id: x_script
                  type: io.kestra.plugin.scripts.python.Commands # Changed from Script to Commands
                  inputFiles:
                    data.json: "{{ outputs.x_data[taskrun.value].body }}"
                    xapi.py: "{{ read('xapi.py') }}"
                  commands: # Changed from script to commands
                    - python xapi.py
                  outputFiles:
                    - users.json
                    - posts.json

            - id: x_merge
              type: io.kestra.plugin.scripts.python.Commands
              inputFiles:
                merge.py: "{{ read('merge.py') }}"
                users_0.json: "{{ outputs.x_script[inputs.search_topics[0]].outputFiles['users.json'] }}"
                posts_0.json: "{{ outputs.x_script[inputs.search_topics[0]].outputFiles['posts.json'] }}"
                users_1.json: "{{ outputs.x_script[inputs.search_topics[1]].outputFiles['users.json'] }}"
                posts_1.json: "{{ outputs.x_script[inputs.search_topics[1]].outputFiles['posts.json'] }}"
                users_2.json: "{{ outputs.x_script[inputs.search_topics[2]].outputFiles['users.json'] }}"
                posts_2.json: "{{ outputs.x_script[inputs.search_topics[2]].outputFiles['posts.json'] }}"
              commands:
                - python merge.py
              outputFiles:
                - merged_users.json
                - merged_posts.json

        - id: bsky_sequence
          type: io.kestra.plugin.core.flow.Sequential
          tasks:
            - id: get_token
              type: io.kestra.plugin.core.http.Request
              uri: https://bsky.social/xrpc/com.atproto.server.createSession
              method: POST
              contentType: application/json
              body: | 
                {{ {
                  "identifier" : vars.BSKY_IDENTIFIER,
                  "password" : vars.BSKY_PASSWORD
                } }}
          
            - id: set_variable
              type: io.kestra.plugin.core.kv.Set
              key: accessJwt
              value: "{{outputs.get_token.body | jq('.accessJwt') | first }}"
              kvType: STRING

            - id: print_token
              type: io.kestra.plugin.core.log.Log
              message: "Bearer {{kv('accessJwt')}}"
          
            - id: bsky_foreach
              type: io.kestra.plugin.core.flow.ForEach
              values: "{{ inputs.search_topics }}"
              concurrencyLimit: 0
              tasks:
                - id: bsky_data
                  type: io.kestra.plugin.core.http.Request
                  uri: "https://bsky.social/xrpc/app.bsky.feed.searchPosts?q={{ taskrun.value | urlencode }}&limit=100"
                  method: GET
                  timeout: PT1M
                  retry:
                    type: exponential
                    interval: PT5S
                    maxInterval: PT60S
                    delayFactor: 2.0
                  headers:
                    Authorization: "Bearer {{kv('accessJwt')}}"
                - id: bsky_script
                  type: io.kestra.plugin.scripts.python.Commands # Changed from Script to Commands
                  inputFiles:
                    data.json: "{{ outputs.bsky_data[taskrun.value].body }}"
                    bskyapi.py: "{{ read('bskyapi.py') }}"
                  commands: # Changed from script to commands
                    - python bskyapi.py
                  outputFiles:
                    - users.json
                    - posts.json
            
            - id: bsky_merge
              type: io.kestra.plugin.scripts.python.Commands
              inputFiles:
                merge.py: "{{ read('merge.py') }}"
                users_0.json: "{{ outputs.bsky_script[inputs.search_topics[0]].outputFiles['users.json'] }}"
                posts_0.json: "{{ outputs.bsky_script[inputs.search_topics[0]].outputFiles['posts.json'] }}"
                users_1.json: "{{ outputs.bsky_script[inputs.search_topics[1]].outputFiles['users.json'] }}"
                posts_1.json: "{{ outputs.bsky_script[inputs.search_topics[1]].outputFiles['posts.json'] }}"
                users_2.json: "{{ outputs.bsky_script[inputs.search_topics[2]].outputFiles['users.json'] }}"
                posts_2.json: "{{ outputs.bsky_script[inputs.search_topics[2]].outputFiles['posts.json'] }}"
              commands:
                - python merge.py
              outputFiles:
                - merged_users.json
                - merged_posts.json

  - id: deduplication
    type: io.kestra.plugin.scripts.python.Commands
    inputFiles:
      deduplication.py: "{{ read('deduplication.py') }}"
      users_x.json: "{{ outputs.x_merge.outputFiles['merged_users.json'] }}"
      posts_x.json: "{{ outputs.x_merge.outputFiles['merged_posts.json'] }}"
      users_bsky.json: "{{ outputs.bsky_merge.outputFiles['merged_users.json'] }}"
      posts_bsky.json: "{{ outputs.bsky_merge.outputFiles['merged_posts.json'] }}"
    commands:
      - python deduplication.py
    outputFiles:
      - unique_users.json
      - unique_posts.json
  
  - id: db_operation
    type: io.kestra.plugin.core.flow.Sequential
    tasks:
      - id: db_init
        type: io.kestra.plugin.jdbc.postgresql.Queries
        url: "{{ vars.POSTGRES_URL }}"
        username: "{{ vars.POSTGRES_USERNAME }}"
        password: "{{ vars.POSTGRES_PASSWORD }}"
        sql: |
          CREATE TABLE IF NOT EXISTS users (
            id BIGSERIAL,
            ext_id TEXT NOT NULL,
            username VARCHAR NOT NULL,
            display_name TEXT NOT NULL,
            platform TEXT NOT NULL,
            PRIMARY KEY (id, ext_id)
          );
          
          DO $$
          BEGIN
            IF NOT EXISTS (
              SELECT 1 FROM citus_tables WHERE table_name = 'users'::regclass
            ) THEN
              PERFORM create_distributed_table('users', 'ext_id');
            END IF;
          END $$;

          CREATE TABLE IF NOT EXISTS posts (
            id BIGSERIAL,
            title VARCHAR,
            body TEXT,
            posts_hash TEXT,
            user_id BIGINT NOT NULL,
            likes INTEGER,
            posted_at TIMESTAMP,
            PRIMARY KEY (id, posts_hash)
          );

          DO $$
          BEGIN
            IF NOT EXISTS (
              SELECT 1 FROM citus_tables WHERE table_name = 'posts'::regclass
            ) THEN
              PERFORM create_distributed_table('posts', 'posts_hash');
            END IF;
          END $$;

      - id: db_insert
        type: io.kestra.plugin.scripts.python.Commands
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
          networkMode: skripsi_default
        containerImage: python:3.13-slim
        inputFiles:
          unique_users.json: "{{ outputs.deduplication.outputFiles['unique_users.json'] }}"
          unique_posts.json: "{{ outputs.deduplication.outputFiles['unique_posts.json'] }}"
          db_insert.py: |
            import json
            import psycopg2

            conn = psycopg2.connect(
              host="{{ vars.POSTGRES_HOST }}",
              port="{{ vars.POSTGRES_PORT }}",
              dbname="{{ vars.POSTGRES_DB}}",
              user="{{ vars.POSTGRES_USERNAME }}",
              password="{{ vars.POSTGRES_PASSWORD }}"
            )
            cur = conn.cursor()

            with open("unique_users.json") as f:
              users = json.load(f)

            # Upsert users, return id mapped to ext_id
            ext_id_to_db_id = {}
            for u in users:
              cur.execute("""
                INSERT INTO users (ext_id, username, display_name, platform)
                VALUES (%s, %s, %s, %s)
                ON CONFLICT (ext_id) DO UPDATE
                  SET username = EXCLUDED.username,
                      display_name = EXCLUDED.display_name
                RETURNING id, ext_id
              """, (u["ext_id"], u["username"], u["display_name"], u["platform"]))
              row = cur.fetchone()
              ext_id_to_db_id[row[1]] = row[0]

            with open("unique_posts.json") as f:
              posts = json.load(f)

            # Resolve ext_user_id → users.id then insert posts
            for p in posts:
              user_id = ext_id_to_db_id.get(p["ext_user_id"])
              if not user_id:
                continue
              cur.execute("""
                INSERT INTO posts (body, posts_hash, user_id, likes, posted_at)
                VALUES (%s, %s, %s, %s, %s)
                ON CONFLICT (posts_hash) DO NOTHING
              """, (p["body"], p["posts_hash"], user_id, p["likes"], p["posted_at"]))

            conn.commit()
            cur.close()
            conn.close()
            print("Insert complete")
        beforeCommands:
          - pip install psycopg2-binary -q
        commands:
          - python db_insert.py